#dinomics {
    background: #fdffb6;
}

#dinomics div div {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#dinomics div div div {
    margin: 0;
    padding: 0;
    width: 50%;
}

#dinomics div div div img {
    align-self: center;
    width: 70%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    #dinomics div div {
        flex-direction: column;
    }

    #dinomics div div div {
        width: 100%;
        padding-top: 20px;
    }
}
