#faq {
    background: #ccfbdb;
}

#faq div div {
    margin: 0;
    padding: 0;
    width: 100%;
}

#faq div div h3 {
    font-size: 30px;
    font-weight: bold;
}

#faq div div p a {
    color: #403d39;
}

#faq div div p a:hover {
    color: skyblue;
}

@media only screen and (max-width: 520px) {
    #faq div h1 {
        padding-bottom: 10px;
    }

    #faq div div h3 {
        font-size: 22px;
    }
}
