#roadmap {
    background: #FDFFB6;
}

#roadmap div div {
    margin: 0;
    padding: 0;
    width: 100%;
}

#roadmap div div h3 {
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 520px) {
    #roadmap div h1 {
        padding-bottom: 10px;
    }

    #roadmap div div h3 {
        font-size: 22px;
    }
}