section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    /* min-height: 100vh; */
}

section div {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100vw;
    max-width: 1920px;
}

section h1 {
    font-family: LLPixel;
    font-size: 50px;
    padding-bottom: 10px;
}

section p {
    font-size: 25px;
}

@media only screen and (max-width: 1200px) {
    section div {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 830px) {
    section div {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 520px) {
    section div {
        padding-left: 15px;
        padding-right: 15px;
    }

    section h1 {
        font-size: 35px;
        padding-bottom: 0px;
    }

    section p {
        font-size: 20px;
    }
}