#as-seen-on {
    background: #ccfbdb;
}

#as-seen-on div {
    display: flex;
    align-items: center;
}

#as-seen-on h1 {
    font-size: 35px;
}

#as-seen-on div div {
    width: auto;
    margin: 0;
    padding: 0;
}

#as-seen-on div div a img {
    width: 15rem;
    height: auto;
}

@media only screen and (max-width: 520px) {
    #as-seen-on div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #as-seen-on div div {
        padding-top: 0px;
    }
    
    #as-seen-on div div a {
        display: flex;
        justify-content: center;
    }

    #as-seen-on div div a img {
        width: 75%;
        height: auto;
    }
}