.navbar {
    position: relative;
    top: 0;
    z-index: 1;
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
}

.navbar div {
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    max-width: 1920px;
    display: flex;
}

.navbar div h3 {
    font-weight: normal;
    font-size: 25px;
    color: #f4f4f4;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: none;
}

.navbar div ul {
    display: flex;
    list-style: none;
    width: 100vw;
}

.navbar div .links {
    flex-direction: row;
}

.navbar div .socials {
    flex-direction: row-reverse;
}

.navbar div ul li {
    padding: 1rem;
}

.navbar div ul li button {
    font-family: VPPixel;
    background-color: Transparent;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 18px;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.navbar div ul li button:hover {
    color: skyblue;
}

.navbar div ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar div ul li a:hover {
    color: skyblue;
}

@media only screen and (max-width: 1200px) {
    .navbar div {
        padding-left: 90px;
        padding-right: 90px;
    }
}

@media only screen and (max-width: 830px) {
    .navbar {
        height: 50px;
    }

    .navbar div {
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar div .socials {
        display: none;
    }

    .navbar div .links {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 520px) {
    .navbar div {
        padding-left: 12px;
        padding-right: 12px;
    }

    .navbar div .links {
        display: none;
    }

    .navbar div h3 {
        display: block;
    }
}
